{
    "tabWidth": 4,
    "printWidth": 100,
    "bracketSpacing": true,
    "parenSpacing": false,
    "jsxBracketSameLine": false,
    "semi": true,
    "overrides": [
        {
            "files": ["*.js", "*.json", "*.jsx"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
