@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-600 flex justify-center flex-col;
    height: 100vh;
}

.form {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 1fr;
    max-width: 500px;
    margin: 1rem auto 0;
}

.form button,
.form a {
    grid-column: span 2;
}

.error {
    color: red;
    font-weight: bold;
}

.hide {
    @apply hidden;
}
